.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  padding: 10px 10px 10px 10px;
}

.bot {
  background-color: rgb(41, 153, 218) !important;
  color: white;
}

.user {
  background-color: rgb(157, 170, 177) !important;
  color: black;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp {
    font-size: 0.6em;
  }
}

.avatar {
  width: 50px;
  margin-right: 20px;
}
